[class^="pill_"] {
	display: none;
}

[class^="blockedIgnoredSettingsNotice__"] {
	display: none;
}

/*Remove start of chat message*/
[class^="scrollerInner__"] [class^="container__"] {
	display: none;
}
