* {
	--circle: 100%;
}

/*Fixes Image Rounding*/
foreignObject {
	border-radius: var(--circle);
}

/* This is for the activitiy status*/
div[class*="avatar__"] rect {
	rx: var(--circle);
	ry: var(--circle);
}
