* {
	--circle: 100%;
}

/*Fixes Image Rounding*/
foreignObject {
	border-radius: var(--circle);
}

/* This is for the activitiy status*/
div[class*="avatar__"] rect {
	rx: var(--circle);
	ry: var(--circle);
}

/* Transparency on the content stream windows*/
[class*="wrapper_"],
[class*="callContainer_"],
[class*="callContainer_"] * {
	background-color: transparent !important;
	background: transparent !important;
}

/* Talking Lightup */
.sextant_talking {
	position: relative;
	transition: 0.4s all ease-in-out;
}

.sextant_talking::after {
	content: "";
	background-color: transparent;
	color: white;
	width: 101%;
	height: 101%;
	position: absolute;
	z-index: 9999;
	display: flex;
	align-items: center;
	justify-content: center;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border: 3px solid skyblue;
	border-radius: 0.4em;
}
