* {
	--custom-app-top-bar-height: 0.6em !important;
}

/* [class*="layerContainer_"] [class*="clickTrapContainer"] { */
/* 	background-color: black; */
/* } */

[class*="layerContainer_"] [class*="clickTrapContainer"] [id*="popout_"] {
	top: 50% !important;
	left: 50% !important;
	right: 0px !important;
	bottom: 0px !important;
	transform: translate(-50%, -50%);
	width: min-content !important;
	height: min-content !important;
}

/* [class*="layerContainer_"] [class*="clickTrapContainer"] [role="dialog"]::after { */
/* 	content: ""; */
/* 	position: absolute; */
/* 	width: 100vw; */
/* 	height: 100dvh; */
/* 	background-color: red; */
/* 	top: 0; */
/* 	left: 50%; */
/* } */
/**/
#sextant_html_sidebar [class*="trailing_"] {
	justify-content: center;
}

#sextant_html_sidebar [class*="trailing_"] svg {
	width: 2em;
	height: 2em;
}
